---
import type { Language } from '@/i18n/config'
import type { Post } from '@/types'
import PinIcon from '@/assets/icons/pin-icon.svg'
import Category from '@/components/Category.astro'
import PostDate from '@/components/PostDate.astro'
import { getPostPath } from '@/i18n/path'
import { getPostDescription } from '@/utils/description'
import { isHomePage } from '@/utils/page'

export interface Props {
  posts: Post[]
  lang: Language
  pinned?: boolean
  showDescription?: boolean
}

const { posts, lang, pinned = false, showDescription } = Astro.props
const isHome = showDescription ?? isHomePage(Astro.url.pathname)
---

<ul>
  {posts.map((post) => {
    const slug = post.data.abbrlink || post.id

    return (
      <li
        class:list={[
          'mb-5.5',
          isHome ? 'lg:mb-10' : '',
        ]}
      >
        {/* post category */}
        {post.data.category && (
          <div class="mb-1.5 flex items-center gap-2">
            <Category category={post.data.category} />
            <div
              class="text-3.5 font-time"
              transition:name={`time-${slug}${lang ? `-${lang}` : ''}`}
              data-disable-theme-toggle-transition
            >
          <PostDate
            date={post.data.published}
            minutes={post.remarkPluginFrontmatter.minutes}
          />
        </div>
          </div>
        )}

        {/* post title */}
        <h3 class="inline no-underline transition-colors hover:c-primary">
          <a
            class:list={[
              'no-underline',
              isHome ? 'lg:font-medium lg:text-4.5' : '',
            ]}
            href={getPostPath(slug, lang)}
            transition:name={`post-${slug}${lang ? `-${lang}` : ''}`}
            data-disable-theme-toggle-transition
          >
            {post.data.title}
          </a>
          {/* pinned icon */}
          {pinned && (
            <PinIcon
              aria-hidden="true"
              class="ml-0.25em inline-block aspect-square w-0.98em translate-y--0.1em lg:(w-1.05em translate-y--0.15em)"
              fill="currentColor"
            />
          )}
        </h3>

        {/* desktop post description */}
        {isHome && (
          <div
            class="heti hidden"
            lg="mt-2.25 block"
          >
            <p>{getPostDescription(post, 'list')}</p>
          </div>
        )}
      </li>
    )
  })}
</ul>
