---
import PostList from '@/components/PostList.astro'
import BackButton from '@/components/Widgets/BackButton.astro'
import { allLocales } from '@/config'
import { getLangFromLocale, getLangRouteParam } from '@/i18n/lang'
import Layout from '@/layouts/Layout.astro'
import { getAllCategories, getCategorySupportedLangs, getPostsByCategory } from '@/utils/content'

export async function getStaticPaths() {
  const paths = await Promise.all(allLocales.map(async (lang) => {
    const langCategories = await getAllCategories(lang)
    return langCategories.map(category => ({
      params: { lang: getLangRouteParam(lang), category },
      props: { category },
    }))
  }))
  return paths.flat()
}

interface Props {
  category: string
}

const { category } = Astro.props
const currentLang = getLangFromLocale(Astro.currentLocale)
const posts = await getPostsByCategory(category, currentLang)
const supportedLangs = await getCategorySupportedLangs(category)
---

<Layout supportedLangs={supportedLangs} categoryName={category}>
  <!-- Decorative Line -->
  <div class="uno-decorative-line" />
  <!-- Go Back Button On Desktop -->
  <BackButton />
  <h1 class="post-title mb-7.5 uppercase">
    <span>{category}</span>
  </h1>
  <!-- Posts List -->
  <div class="mt-10.5">
    <h2 class="sr-only">Articles in this category</h2>
    <PostList
      posts={posts}
      lang={currentLang}
    />
  </div>
</Layout>
